<h2>Neue Karte generieren</h2>
<div class="actions">
  <button class="btn" (click)="create()" [disabled]="((gold$ | async) ?? 0) < 100">
    🎲 Zufällige Karte
  </button>
</div>

<div *ngIf="showReveal && newCard">
    <app-card-reveal [c]="newCard" (opened)="onCardOpened()"></app-card-reveal>
</div>

<h3>Dein Deck ({{ deck.length }})</h3>
<div class="deck-container">
  <app-character-card
    *ngFor="let c of deck; let i = index"
    [c]="c"
    (delete)="deleteCard(i)"
  ></app-character-card>
</div>
