<div class="card" [attr.data-rarity]="c.rarity">
  <div class="header">
    <span class="rarity">{{ c.rarity | uppercase }}</span>
    <span class="tier">{{ c.tier }}</span>
    <button class="delete-button" (click)="onDelete()">❌</button>
  </div>
  <img class="avatar" src="https://api.dicebear.com/8.x/pixel-art/svg?seed={{c.id}}" alt="Avatar">
  <h3 class="name">{{ c.name }}</h3>
  <p class="race">Rasse: {{ c.race }}</p>
  <div class="line"></div>

  <div class="traits">
    <div>
      Waffe: <strong>{{ c.weapon ?? "—" }}</strong>
    </div>
    <div>
      Power: <strong>{{ c.power ?? "—" }}</strong>
    </div>
  </div>

  <div class="stats">
    <div *ngIf="displayStats.includes('strength')">
      <label>STR</label><span>{{ c.stats.strength }}</span>
    </div>
    <div *ngIf="displayStats.includes('speed')">
      <label>SPD</label><span>{{ c.stats.speed }}</span>
    </div>
    <div *ngIf="displayStats.includes('stamina')">
      <label>STA</label><span>{{ c.stats.stamina }}</span>
    </div>
    <div *ngIf="displayStats.includes('defense')">
      <label>DEF</label><span>{{ c.stats.defense }}</span>
    </div>
  </div>

  <div class="footer">
    <span>Level {{ c.level }}</span>
    <span>Summe {{ total }}</span>
  </div>
</div>
