<div class="card" [attr.data-rarity]="c.rarity" [class.loser]="isLoser">
  <div class="header">
    <span>Lvl {{ c.level }}</span>
    <div class="rarity" [attr.data-rarity]="c.rarity">
      {{ c.rarity | titlecase }}
    </div>
    <button *ngIf="showDelete" (click)="onDelete()" class="btn">X</button>
  </div>

  <img [src]="'https://api.dicebear.com/7.x/pixel-art/svg?seed='+c.seed" alt="" class="avatar">

  <h2 class="name">{{ c.name }}</h2>
  <p class="race">{{ c.race }} ({{ c.tier }})</p>

  <div class="xp-bar-container">
    <div class="xp-bar" [style.width.%]="xpProgress"></div>
    <span class="xp-text">{{ c.xp }} / {{ xpForNextLevel }}</span>
  </div>

  <div class="line"></div>

  <div class="traits">
    <div *ngIf="c.hasWeapon">Waffe: {{ c.weapon }}</div>
    <div *ngIf="c.hasPower">Power: {{ c.power }}</div>
  </div>

  <div class="stats">
    <div *ngIf="displayStats.includes('strength')">
      <label>STR</label>
      <span>{{ c.stats.strength }}</span>
      <button class="btn" *ngIf="showReroll" (click)="onReroll('strength')"> reroll </button>
    </div>
    <div *ngIf="displayStats.includes('stamina')">
      <label>STA</label>
      <span>{{ c.stats.stamina }}</span>
      <button class="btn" *ngIf="showReroll" (click)="onReroll('stamina')"> reroll </button>
    </div>
    <div *ngIf="displayStats.includes('speed')">
      <label>SPD</label>
      <span>{{ c.stats.speed }}</span>
      <button class="btn" *ngIf="showReroll" (click)="onReroll('speed')"> reroll </button>
    </div>
    <div *ngIf="displayStats.includes('defense')">
      <label>DEF</label>
      <span>{{ c.stats.defense }}</span>
      <button class="btn" *ngIf="showReroll" (click)="onReroll('defense')"> reroll </button>
    </div>
  </div>

  <div class="footer">
    <div class="total-stats">Total: {{ total }}</div>
  </div>
</div>
